@model UserLoginModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Login</h1>
<form method="post">
	<div class="form-group">
		<label asp-for="Username" class="col-sm-2 col-form-label"></label>
		<input asp-for="Username" class="form-control" />
		<span asp-validation-for="Username" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Password" class="col-sm-2 col-form-label"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger" type="password"></span>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Sign in</button>
	</div>
	<h1>Available Logins</h1>

	<ul>
		<li>emp1/emp1</li>
		<li>man1/man1</li>
		<li>acc1/acc1</li>
</form>
