@model AddExpenseModel
@{
    ViewData["Title"] = "Add Expense";
		List<SelectListItem> Categories = (List<SelectListItem>)ViewData["Categories"];
}

<h1>Add Expense</h1>
<form method="post">
	<div class="form-group">
		<label asp-for="Date"></label>
		<input asp-for="Date" class="form-control" type="date" />
		<span asp-validation-for="Date" class="text-danger"></span>
	</div>
	<div class="form-group">
			<label asp-for="InvoiceNumber">Invoice Number</label>
			<input asp-for="InvoiceNumber" class="form-control" />
			<span asp-validation-for="InvoiceNumber" class="text-danger"></span>
	</div>
	<div class="form-group">
			<label asp-for="CategoryId">Category</label>
			<select asp-for="CategoryId" asp-items="Categories">
			</select>
			<span asp-validation-for="CategoryId" class="text-danger"></span>
	</div>
	<div class="form-group">
			<label asp-for="Description">Category (if other)</label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
			<label asp-for="Amount"></label>
			<input asp-for="Amount" class="form-control" />
			<span asp-validation-for="Amount" class="text-danger"></span>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>
