@model List<ExpenseListItem>
@using System.Text.Json
@{
    ViewData["Title"] = "My Expenses";
}

<div class="text-center">
	<h1 class="display-4">My Expenses</h1>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Amount</th>
				<th scope="col">Category</th>
				<th scope="col">Description</th>
				<th><a class="btn btn-primary" href="/Expense/Add" role="Add">Add</a></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var expense in Model) {
				<tr>
					<td>@expense.Date</td>
					<td>@expense.Amount</td>
					<td>@expense.CategoryName</td>
					<td>@expense.Description</td>
				</tr>
			}
		</tbody>
	</table>
